name: main
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npx tsc
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: |
            dist
            !dist/test
  coverage:
    runs-on: ubuntu-latest
    services:
      # Label used to access the service container
      postgres:
        image: postgres:16
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: apitest
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v5
      - run: npm ci
      - run: npx jest --coverage
        env:
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ""
      - name: publish coverage report to coveralls.io
        uses: coverallsapp/github-action@v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage/lcov.info
        continue-on-error: true
  release:
    name: Semantic Release
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    runs-on: ubuntu-latest
    needs:
      - build
      - coverage
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install packages
        run: npm ci
        env:
          HUSKY: 0
      - name: Download lib from build job
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          HUSKY: 0
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
